@tailwind base;
@tailwind components;
@tailwind utilities;

a {
    @apply text-blue-300;
}

a:hover {
    @apply underline;
}

a.new {
    @apply text-red-400;
}

.personal-tools li {
    @apply mr-2;
}

.sidebar-list {
    li {
        @apply p-0 mb-1 pl-4 text-gray-400 leading-none;
    }
}

.page-title {
    @apply w-full mb-6;

    & .mw-indicators {
        display: inline-block;
        float: right;

        & .mw-indicator {
            display: inline-block;
        }
    }

    ul {
        @apply mt-4;
    }

    li {
        @apply mr-2;

        a {
            @apply text-gray-400 text-sm;
        }
    }
}

.catlinks {
    @apply p-2 border border-gray-900 rounded mt-4;

    li {
        border-left: 1px solid #5c6370;

        a {
            @apply text-gray-400;
        }

        a.new {
            @apply text-red-400;
        }
    }
}

.oo-ui-popupWidget-popup {
    @apply text-gray-800;
}

input:not([type]), input[type=text], input[type=search] {
    @apply py-1 px-2 text-white bg-gray-900;
}

.suggestions {
    div.suggestions-results, div.suggestions-special {
        @apply bg-gray-900 text-white border-gray-800 border;

        .suggestions-result {
            @apply text-white;
        }

        div.suggestion-result-current {
            @apply bg-blue-800 text-white;
        }

        div.special-query {
            @apply text-white;
        }
    }
}

#toc {
    display: table;
    background: #0c1016;
    @apply p-2 my-2 text-white border border-gray-900;

    .tocnumber {
        @apply text-white;
    }

    .toctitle h2 {
        @apply inline-block my-1;
    }

    ul {
        @apply mx-4;
        list-style: none;
        padding: 0;

        li a {
            @apply text-gray-500;
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    @apply text-gray-100 leading-none p-0 m-0 mt-4 mb-1;
}

h1 {
    @apply text-3xl;
}

h2 {
    @apply text-2xl;
}

h3 {
    @apply text-xl;
}

h4 {
    @apply text-lg;
}

.thumb {
    background: #0c1016 !important;
    @apply p-2 m-2 border border-gray-900 text-gray-100;

    .thumbcaption {
        @apply mt-2;
    }
}

table.wikitable, table.mw-datatable, table.mw-abuselog-details {
    background: #0c1016 !important;
    @apply text-gray-200 border border-gray-900;

    th {
        background: #1A202C !important;
    }

    td {
        background: #0c1016 !important;
    }
}

.articlebody ul, .mw-parser-output ul {
    @apply list-disc pl-2;
}

p {
    @apply mt-2;
}

textarea {
    background: #0c1016 !important;
    color: #EDF2F7;
}

code {
    background-color: #0c1016;
    border: 1px solid #1A202C;
    border-radius: 2px;
    padding: 1px 4px;
}

table {
    border-collapse: separate;
}

.personal-tools {
    #pt-notifications-alert a.mw-echo-notifications-badge:before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 fill=%22lightgray%22 width=%2220%22 height=%2220%22 viewBox=%220 0 20 20%22%3E %3Ctitle%3E bell %3C/title%3E %3Cpath d=%22M16 7a5.38 5.38 0 0 0-4.46-4.85C11.6 1.46 11.53 0 10 0S8.4 1.46 8.46 2.15A5.38 5.38 0 0 0 4 7v6l-2 2v1h16v-1l-2-2zm-6 13a3 3 0 0 0 3-3H7a3 3 0 0 0 3 3z%22/%3E %3C/svg%3E");
    }

    #pt-notifications-notice .mw-echo-notifications-badge:before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 fill=%22lightgray%22 width=%2220%22 height=%2220%22 viewBox=%220 0 20 20%22%3E %3Ctitle%3E tray %3C/title%3E %3Cpath d=%22M17 1H3a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2zm0 12h-4l-1 2H8l-1-2H3V3h14z%22/%3E %3C/svg%3E");
    }
}

.mw-rcfilters-ui-changesListWrapperWidget .mw-changeslist-legend,
.oo-ui-tagMultiselectWidget.oo-ui-widget-enabled.oo-ui-tagMultiselectWidget-outlined .oo-ui-tagMultiselectWidget-handle,
.mw-rcfilters-ui-filterTagMultiselectWidget-wrapper-content-title {
    background-color: #0c1016 !important;
    color: #EDF2F7 !important;
}

.mwe-popups {
    background-color: #0c1016 !important;
    border: 1px solid #1A202C !important;
    color: #EDF2F7 !important;

    .mwe-popups-extract {
        /* make the text white */
        color: #EDF2F7 !important;

        &::after {
            background-image: none !important;
        }
    }
}
